$primary: #E60023;
$primaryAccent: #D20020;

$rare: #FFF;
$mediumRare: #EFEFEF;
$mediumWell: #D3D3D3;
$well: #484848;
$burnt: #211922;

@mixin signupInput {
    border-radius: 4px;
    vertical-align: middle;
    outline: none;
    border: 1px solid $mediumWell;
    width: 95%;
    height: 36px;
    font-size: 16px;
    letter-spacing: -.4px;
}

@mixin formBtn {
    border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: -.4px;
    width: 100%;
}

@mixin header-btn {
    border: 0px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    letter-spacing: -.4px;
    background-color: $mediumWell;
    &:hover {
        background-color: $primary;
    }
}